// Variables Nextro Template - couleurs et thème
:root {
  --primary-color: #f97131;
  --primary-color-hover: #e86420;
  --primary-color-dark: #4d432a;
  --primary-color-menu: #ceb369;
  --primary-color-menu-light: #c4b794;

  --login-bg: #0f0e18;
  --nav-top-color: #16161e;
  --sidebar-color-bg: #0f0e18;
  --sidebar-color-bg-selected: #3e4a61;
  --sidebar-primary-color: #f97131;
  --sidebar-primary-color-light: #e29974;

  --background-color: #f0f2f8;
}
